@model IEnumerable<demo_core.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(m => p.Id)</td>
                <td>@Html.DisplayNameFor(m => p.Name)</td>
                <td>@Html.DisplayNameFor(m => p.Price)</td>
            </tr>
        }
    </tbody>
</table>

